@media (max-width: 1000px) {
    body {
        width: auto;
        height: auto;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: hsl(0, 0%, 95%);
        margin: 30px;
        border-radius: 0;
    }

    main .container {
        display: flex;
        height: auto;
        width: 328px;
    }

    .sedans {
        border-radius: 15px 15px 0 0;
    }

    .luxury {
        border-radius: 0 0 15px 15px;
    }

    .container button {
        margin-top: 20px;
    }
}